.sub-title > a {
  text-decoration: none;
  font-weight: normal;
  color: black;
  font-size: 21px;
}

.sub-title {
  margin-top: 9px;
  margin-bottom: 0;
}

.sub-title > a:hover {
  color: #37f;
}

.publish-date {
  font-weight: 100;
  color: #555;
}
