.sub-title > a {
  text-decoration: none;
  font-weight: normal;
  color: black;
  font-size: 21px;
}

.sub-title {
  margin-top: 9px;
  margin-bottom: 0;
}

.sub-title > a:hover,
.link-effect:hover {
  color: #37f;
}

.publish-date {
  font-weight: 100;
  color: #555;
}

.item-date {
  color: #555;
  padding-right: 20px;
}

tr > * {
  vertical-align: baseline;
}

.link-effect {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.link-effect h2 {
  font-weight: normal;
  font-size: 22px;
}

.link-effect p {
  margin-bottom: 15px;
}

.header-top-space {
  margin-top: 15px;
}

#table div {
  margin-bottom: 15px;
}

li {
  margin-bottom: 15px;
}
