.sp1-footer {
  top: 325px;
}

li {
  padding-bottom: 20px;
}

.sp2-footer {
}

.title {
  font-weight: normal;
  color: black;
  font-size: 21px;
  margin-top: 9px;
  margin-bottom: 0px;
}

#sp2-header {
  font-weight: normal;
}
